# ==========================================
# Jupyter Notebook Checkpoints & Cache
# ==========================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.virtual_documents/

# ==========================================
# Python Byte Code & Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================
env/
venv/
ENV/
.env

# ==========================================
# Data & Temporary Files
# ==========================================
*.csv
*.json
*.sqlite3
.DS_Store
.vscode/
.idea/
